- name: Build Docker image
  uses: docker/build-push-action@v5
  with:
    context: .
    push: true
    tags: |
      ghcr.io/${{ github.repository_owner }}/docker-strapi:latest
      ghcr.io/${{ github.repository_owner }}/docker-strapi:${{ github.sha }}
